@font-face {
    font-family: basic-font;
    src: url("./assets/Play-Bold.ttf");
}

:root {
    --header-background-color: #111111;
    --body-background-color: #7b7d80;
    --big-text-color: linear-gradient(to right, #ef33b1, #f6e6bc);
    --menu-background-color: linear-gradient(to right, #222222, #383b40);

    --simple-text-color: #b4b5e9;
    --simple-text-hover-color: #676769;
    --simple-text-pressed-color: #5a5a60;
    --separator-color: #4d4d4f;
    --frame-background-color: linear-gradient(to right, #353a5f, #9ebaf3);
    --content-text-color: #494a7a;

    --header-button-color: #222222;
    --header-button-pressed-color: #2d2b2b;

    --code-comment-color: #6a9953;
    --code-type-color: #3bc9b0;
    --code-function-color: #dcdc9f;
    --code-syntax-color1: #ffd700;
    --code-syntax-color2: #da70d6;
    --code-syntax-color3: #179fff;
    --code-none-color: #d4d4d4;
    --code-variable-color: #69cefe;
    --code-number-color: #b5cea8;
    --code-character-color: #ce916a;

    --frame-text-color: #212134;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: basic-font;
}

body {
    background: var(--body-background-color);
    overflow-x: hidden;
    padding-bottom: 3%;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 7%;
    background: var(--header-background-color);
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.seabow {
    display: flex;
    align-self: center;
    padding-left: 1%;
}

.seabow img {
    align-self: center;
    width: 5%;
    height: auto;
    padding-right: .5%;
}

.seabow p {
    align-self: center;
    font-size: 2em;
    font-weight: bold;

    background: var(--big-text-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header a {
    text-decoration: none;
    align-self: center;
    font-size: 1.25em;
    color: var(--simple-text-color);
    border-radius: 3px;
    border-color: var(--header-button-color);
    border-style: solid;
    border-width: 4px;
    padding: .5%;
    margin-right: 2%;
}

.header a:hover {
    background: var(--header-button-color);
}

.header a:active {
    background: var(--header-button-pressed-color);
    border-color: var(--header-button-pressed-color);
}

.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
    background: var(--menu-background-color);
    z-index: 1;
}

.links {
    display: flex;
    flex-direction: column;
    padding-top: 20%;
}

.menu a:not(.sublink) {
    text-decoration: none;
    padding-left: 20%;

    color: var(--simple-text-color);
    font-size: 1.5em;
}

.menu a:hover {
    background: var(--simple-text-hover-color);
}

.menu a:active {
    background: var(--simple-text-pressed-color);
}

.clickable {
    cursor: pointer;
}

.content {
    padding-top: 4%;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
}

h1 {
    width: fit-content;
    padding-left: 2%;
    position: relative;
    font-size: 3em;
    padding-bottom: 2%;

    background: var(--big-text-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

hr {
    position: relative;
    align-self: center;
    width: 95%;
    background: var(--separator-color);
    margin-top: 3%;
    height: 2px;
}

p {
    padding-left: 4%;
    position: relative;
    font-size: 1.5em;
    color: var(--content-text-color);
}

ul {
    padding-left: 7%;
    position: relative;
    font-size: 1em;
    color: var(--content-text-color);
}

.frame {
    position: relative;
    border-radius: 10px;
    width: 60%;
    padding: 1%;
    background: var(--frame-background-color);
    margin: 1% 0px;
}

.frame p {
    color: var(--frame-text-color);
    font-size: 2em;
}

.frame table {
    margin: 0px;
    width: 100%;
    color: var(--frame-text-color);
}

.frame-left {
    left: 3%;
}

.frame-right {
    right: -33%;
}

@keyframes frame-left-appear {
    from {
        left: -100%;
    } to {
        left: 3%;
    }
}

@keyframes frame-right-appear {
    from {
        right: -200%;
    } to {
        right: -33%;
    }
}

@keyframes frame-left-disappear {
    from {
        left: 3%;
    } to {
        left: -100%;
    }
}

@keyframes frame-right-disappear {
    from {
        right: -33%;
    } to {
        right: -200%;
    }
}

.codeblock {
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin-top: 1%;
    margin-left: 2%;
    background: #1f1f1f;
    border-radius: 10px;
    width: 90%;
}

.codeline {
    display: flex;
}

pre {
    font-size: 1em;
}

.code-comment {
    color: var(--code-comment-color);
}

.code-type {
    color: var(--code-type-color);
}

.code-function {
    color: var(--code-function-color);
}

.code-syntax1 {
    color: var(--code-syntax-color1);
}

.code-syntax2 {
    color: var(--code-syntax-color2);
}

.code-syntax3 {
    color: var(--code-syntax-color3);
}

.code-none {
    color: var(--code-none-color);
}

.code-variable {
    color: var(--code-variable-color);
}

.code-number {
    color: var(--code-number-color);
}

.code-character {
    color: var(--code-character-color);
}

table {
    color: var(--content-text-color);
    border-color: var(--header-background-color);
    width: 66%;
    align-self: center;
    margin: 3%;
    border-collapse: collapse;
}

td, th {
    padding: .5%;
    border-color: var(--header-background-color);
    border-style: solid;
    border-width: 2px;
    text-align: center;
}

th {
    font-size: 1.5em;
}

td a {
    text-decoration: none;
}

.sublink {
    padding-left: 25%;
    font-size: 1.2em;
    text-decoration: none;
    color: var(--simple-text-color);
}

.animated-text {
    opacity: 1;
}

@keyframes text-appear {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes text-disappear {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}